<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get-Ml-reports-Clustering</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../static/styles/submission_form.css">
</head>

<body>
   
        <div class="w3-bar w3-red w3-card w3-left-align w3-large"> 
          <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-red" href="javascript:void(0);" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a> 
          <a href="/" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">Home</a>
          <a href="/regression" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">GET-REGRESSION-REPORTS</a>
          <a href="/classification" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">GET-CLASSIFICATION-REPORTS</a>
          <a href="/clustering" class="w3-bar-item w3-button w3-padding-large w3-white">GET-CLUSTERING-REPORTS</a>
          <a href="/visualization" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white">GET-VISUAL-REPORTS</a>
      </div> 
 <br>
 <br>
 
    <form action="/clustering" method="post" enctype="multipart/form-data">
        
        <label for="data">Dataset(.csv)</label>
        <input type="file" accept=".csv" id="file" name="data" placeholder="CSV FILE">
        <br>
        <label for="data" >Starting number of clusters to be tested:</label>
        <input type="number"name="min_clusters" min="2">
        <label for="data" >Ending number of clusters to be tested:</label>
        <input type="number" name="max_clusters">
    
        
        <h4> <label for="algo">Check the algo's you want to check your data set on :</label></h4> 
        <input type="checkbox" value="kmeans" name="checkbox">
        <label for="checkbox1">Kmeans</label>
        <br>
        <input type="checkbox" value="hclust" name="checkbox">
        <label for="checkbox2">Hierarchical clustering</label>
        <br>
        <input type="checkbox" value="ap" name="checkbox">
        <label for="checkbox3">Affinity propagation</label>
        <br>
        <input type="checkbox" value="sc" name="checkbox">
        <label for="checkbox4">sc-SCAN</label>
        <br>
        <input type="checkbox" value="dbscan" name="checkbox">
        <label for="checkbox5">db-SCAN</label>
        <br>
        <input type="checkbox" value="meanshift" name="checkbox">
        <label for="checkbox5">Mean-Shift</label>
        <br>
        
        <h4><label for="algo">Check the scores you want to validate on</label></h4> 
        <input type="checkbox" value="Silhouette" name="checkbox2">
        <label for="checkbox5">Silhouette</label>
        <br>
        <input type="checkbox" value="Calinski-Harabasz" name="checkbox2">
        <label for="checkbox5">Calinski-Harabasz</label>
        <br>
        <input type="checkbox" value="Davies-Bouldin" name="checkbox2">
        <label for="checkbox5">Davies-Bouldin</label>
        <br>
        <button type="submit">Get Reports</button>
    </form>

</body>
</html>
